.btn-import {
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

span {
  background: none;
  padding: 0;
  margin: 0;
  color: unset;
}

.btn:hover {
  background-color: lightblue;
  color: black;
}

table:not(:first-child) {
  margin-top: 60px;
}

table {
  margin-top: 20px;
}

table td,
table th {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}

.row-1 {
  background-color: #AED6E1;
  color: black;
}

.row-2 {
  font-weight: bold;
  background-color: #D6EAF8;
}

.row-3 {
  background-color: #AED6E1;
  color: black;
}

.row-5 {
  background-color: wheat;
  color: black;
}

.row-1,
.row-3 {
  font-weight: bold;
}

.nav-item {
  margin-left: 10px;
}