.btn:hover {
 background-color: lightblue;
 color: black;
}


/* !!!!!!!!1111 */

label {
 font-weight: bold;
 font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
 font-size: medium;

}

table {
 /* text-align: left; */
 align-items: center;
 font-size: medium;
 font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
 width: 100%;
}

tr {
 border-bottom: 1px solid #ddd;
}

tr:hover {
 background-color: #d6eeee;
}

th,
td {
 padding: 15px;
 margin: 1rem;
}

.resultInfo {
 background-color: cornsilk;
}

.daysresult {
 margin-top: 3px;
 margin-bottom: 3px;
}

.labelPosition {
 font-weight: bold;
 font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
 font-size: medium;
 margin-bottom: 5px;
}
