<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">Billing Assistant</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="d-flex">

                <button class="btn btn-outline-success ms-2" routerLink="/import">Billing Assistant</button>
            </form>
            <!-- <a class="nav-link ms-2 cal-color" routerLink="/time-calculate">Calculator</a> -->
        </div>
    </div>
</nav>


<div class="container">

    <form class="row d-lg-none d-xl-none" style="margin-top: 20px; margin-bottom: 20px;">

        <div class="col-md-6 ">
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-success ms-2" routerLink="/import">Billing Assistant</button>
            </div>
        </div>
    </form>

    <form [formGroup]="form" *ngIf="form">
        <div class="form-row row bg-light p-20 mb-20" style="margin-top: 20px; padding: 20px;">
            <div class="col-md-6 mb-3">
                <label for="start-date" class="labelPosition">Start Date</label>
                <!-- <input type="date" id="start-date" formControlName="startDate" class="form-control py-2"> -->

                <input type="text" placeholder="From" formControlName="startDate" class="form-control py-2" bsDatepicker
                    [bsConfig]="{ isAnimated: true }">

            </div>
            <div class="col-md-6 mb-3">
                <label for="end-date" class="labelPosition">End Date</label>
                <!-- <input type="date" id="end-date" name="endDate" formControlName="endDate" class="form-control py-2"> -->
                <input type="text" placeholder="To" formControlName="endDate" class="form-control py-2" bsDatepicker
                    [bsConfig]="{ isAnimated: true }">
            </div>
            <div class="col-md-6 mb-3 mt-4">
                <label for="totalDays" class="labelPosition">Total Days</label>
                <input type="text" id="totalDays" class="form-control py-2" name="totalDays"
                    formControlName="totalDays">
            </div>
            <div class="col-md-6 mb-3 mt-4">
                <label for="hours-input" class="labelPosition">Total Authorization Period Hours</label>
                <input type="number" id="hours-input" name="hoursInput" formControlName="workingHours"
                    class="form-control py-2">
            </div>

            <div class="col-md-6 mb-3 mt-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                        formControlName="includeEndDate">
                    <label class="form-check-label" for="flexCheckDefault">
                        Include End Date
                    </label>
                </div>
            </div>



        </div>

        <div class="row justify-content-end">

            <div class="col-4 mb-3 d-flex justify-content-end btn-group mt-3">
                <button type="button" class="btn btn-outline-info me-2" (click)="calculate()"
                    [disabled]="form.invalid">Submit</button>
                <button type=button class="btn btn-outline-secondary ps-3 pe-3" name=print value="Print"
                    onClick="window.print()" [disabled]="!result">Print</button>
            </div>


        </div>
    </form>

    <div class="row resultInfo" *ngIf="result" style="margin-top: 20px; padding: 20px;">
        <div class="col-md-6 mt-20 p-20">
            <h3 class="mt-2"><strong class="me-2">From :</strong> {{result.startDate | date}} <strong class="ms-4">To
                    :</strong> {{result.endDate | date}} </h3>
            <hr class="my-4">
            <h1 class="daysresult">Result: {{result.days}} Days</h1>
            <hr class="my-4" *ngIf="!result.hasWorkingHours">
            <table *ngIf="result.hasWorkingHours" style="margin-top: 2.1rem;align-items:left">
                <tr>
                    <th>Hours per Day</th>
                    <td>{{result.workingHoursPerDay | number: '1.0-1'}} hours</td>
                </tr>
                <tr>
                    <th>Hours per Week</th>
                    <td>{{result.workingHoursPerWeek | number: '1.0-1' }} hours</td>
                </tr>
            </table>
        </div>

        <div class="col-md-6 mt-20 p-20">
            <h1>Alternative time units</h1>
            <table>
                <tr>
                    <th>Total Week</th>
                    <td>{{result.weeks | number: '1.0-1'}} weeks</td>
                </tr>
                <tr>
                    <th>Total Days</th>
                    <td>{{result.days | number: '1.0-1'}} days</td>
                </tr>
                <tr>
                    <th>Total Hours</th>
                    <td>{{result.hours | number: '1.0-1' }} hours</td>
                </tr>
                <tr>
                    <th>Total Minutes</th>
                    <td>{{result.minutes | number: '1.0-1' }} minutes</td>
                </tr>
                <tr>
                    <th>Total Seconds</th>
                    <td>{{result.seconds | number: '1.0-1' }} minutes</td>
                </tr>
            </table>
        </div>
    </div>
</div>